/* semantic color variables for this project */
:root {
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

:root {
  /* To hide the visible scroll */
  overflow: hidden;
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

/* Vuetify color overrides */
.v-theme--dark.v-theme--dark {
  /* --v-theme-primary: 54, 142, 196; */
}
.v-theme--light.v-theme--light {
  /* --v-theme-primary: 54, 142, 196; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body,
html {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: black;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}
